.insta-modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -100%;
    left: 0;
    display: flex ;
    align-items: center;
    justify-content: center;
    transition: 0.5s all ease-in-out;
    .insta-modal__container{
        width: 1000px;
        height: 600px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
    }
    .insta-modal__iframe, .insta-modal__wrapper {
        width: 50%;
        position: relative;
    }
    .insta-modal__iframe{
        img{
            width: 500px;
            height: 600px;
            object-fit: cover;
        }
    }
}

.wrapper__header{
    width: 500px;
    padding: 14px 8px 14px 14px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.178) ;
    .wrapper__img-box{
        border-radius: 50%;
        padding: 2px;
        border: solid 2px red;
        img{
            width: 42px;
            height: 42px;
            border-radius: 50%;
        }
    }
    .wrapper__title{
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        color: #000;

    }
    .wrapper__desc{
        color: #8e8e8e;
        font-size: 12px;
        font-weight: 400;
        margin: 0;
    }
    .wrapper__header-btn{
        border: none;
        background-color: transparent;
        i{
            font-size: 25px;
        }
    }
}
.wrapper__body{
    padding: 14px 18px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .wrapper__img-box {
        border-radius: 50%;
        padding: 2px;
        border: solid 2px red;

        img {
            width: 42px;
            height: 42px;
            border-radius: 50%;
        }
    }

    .wrapper__title {
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        color: #000;

    }
}
.insta-modal__close{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 80px;
    right: 80px;
    i{
        color: #fff;
        font-size: 45px;
    }
}
.modal{
    top: 0;
}
video{
    width: 100%;
    height: 100%;
}
.wrapper__footer{
    width: 100%;
    position: absolute;
    bottom:     80px;
    border-top: solid 1px black;
    padding: 14px 8px;
    button{
        background-color: transparent;
        border: none;
        i{
            font-size: 25px;
        }
    }
    p{
        font-weight: 600;
        font-size: 18px;
    }
    .bxs-heart{
        color: red;
    }
}